@import "reuse_style.scss";
.page_header{
    padding: 30px 0;
    @include flex-row-center;

    .title_container{
        max-width: 1200px;
        @include flex-column-center;
        h1{
            width: 100%;
            text-align: center;
            color: #29293a;
            font-size: 2rem;
            letter-spacing: 20px;
            text-indent: 20px;
            margin: 0;
        }
        p{
            margin-top: 35px;
            margin-bottom: 40px;
        }
        .hr-logo{
            font-size: 3rem;
            position: relative;
            &::before{
                content: "";
                display: block;
                position: absolute;
                top: 54%;
                left: 90px;
                width: 200px;
                height: 2px;
                background: #0F3A59;
            }
            &::after{
                content: "";
                display: block;
                position: absolute;
                top: 54%;
                right: 90px;
                width: 200px;
                height: 2px;
                background: #0F3A59;
            }
        }
    }
}

.page_content{
    @include flex-row-center;
    padding: 8px 0;

    .content_container {
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        width: 50%;

        .article_item {
            //padding: 15px 10px;
            width: 100%;
            cursor: pointer;
            background: #fff;
            padding: 16px;
            margin-bottom: 16px;

            p,
            h4 {
                margin: 0;
            }

            .title {
                color: #222226;
                cursor: pointer;
                font-size: 18px;
                font-weight: 500;
                line-height: 24px;
                overflow: hidden;
                white-space: normal;
                word-break: break-word;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;

                &:hover {
                    color: #5094d5;
                }
            }

            .box-content {
                color: #555666;
                margin-top: 8px;
                line-height: 24px;
                font-size: 14px;
                overflow: hidden;
                white-space: normal;
                word-break: break-word;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
            }

            .box-bottom {
                display: flex;
                justify-content: space-between;
                margin-top: 16px;
                .release_time {
                    color: #555666;
                }
                .left {
                    display: flex;
                    line-height: 21px;
                    .content-num {
                        width: 100px;
                    }
                    i{
                        margin-right: 3px;
                    }
                }
            }

            .box-content-list{
                margin-top: 8px;
                padding: 24px 16px;
                width: 100%;
                background: #f8f8f8;
                .pagination{
                    display: flex;
                    justify-content: center;
                    margin-bottom: -15px;
                }
                .list-item{
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    margin-bottom: 24px;
                    .tag{
                        margin-right: 10px;
                    }
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }

        >.pagination {
            display: flex;
            justify-content: center;
            padding: 15px;
        }
    }
}