html,
body,
#app {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    // overflow-x: hidden;
    // overflow-y: visible;
    overflow: visible;
    background-color: #F4F4F4;
}

body {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-size: 1rem;
}
*{
    box-sizing: border-box;
}

// elementUI 标签tag
.el-tag {
    margin: 0px 3px;
}

/* 去除a标签默认样式 */
a:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}


/* 滚动条样式 */
::-webkit-scrollbar {
    width: 0px;
    height: 7px;
}
::-webkit-scrollbar-thumb {
    background: #c7d1da;
    border-radius: 3.5px;
}
::-webkit-scrollbar-track-piece {
    background: #efefef;
}
/* 去掉某些元素focus状态样式 */
:focus{
    outline: none;
}